<h1>Listing championships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Logo</th>
    <th>Admin</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @championships.each do |championship| %>
  <tr>
    <td><%= championship.name %></td>
    <td><%= championship.description %></td>
    <td><%= championship.logo %></td>
    <td><%= link_to championship.user_id, user_path(championship.user_id) %></td>
    <td><%= championship.team_id %></td>
    <td><%= link_to 'Show', championship %></td>
    <td><%= link_to 'Edit', edit_championship_path(championship) %></td>
    <td><%= button_to 'Destroy', championship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Championship', new_championship_path %>
